#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.overall_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
}

.header {
  display: flex;
  
  max-height: 20%;

}

.main_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.submitted {
  background: rgb(233, 168, 6);
  color: black;
}

.question_panel {
  width: 70vw;
}

.select_panel {
  margin-right: 1rem;
}

li.question_preview_li:hover {
  color: green;
  cursor: pointer;
}

.answer_options {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer_options_li {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.answer_options_li:hover {
  color: lightgreen;
}
.answer_options_li:active {
  color: cyan;
}

.answer_options_input {
  appearance: none;
}
.answer_options_input:checked ~ label, .answer_options_input:checked ~ p {
  background: rgba(0, 255, 255, 0.326);
  color: white;
}

p.abcde_label {
  margin: 0px;
  padding-right: 0.25rem;
}

.answer_options, label {
  cursor: pointer;
}

.select_panel {
  height: 70vh;
  overflow-y: scroll;
}